@reference "./daisyui.css"

.icon-btn {
  @apply inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-teal-600;
  font-size: 0.9em;
}

.circle-btn {
  @apply btn btn-circle btn-xs;
  font-size: 1em;
}

.bg-card {
  @apply p-4 mt-2 rounded-box shadow-lg bg-base-100
}

.flex-between {
  @apply flex items-center justify-between;
}

.flex-center {
  @apply flex items-center justify-center gap-2;
}
